@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: #0aa1dd;
  --primary-color: #ffffff;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 1.5em;
  margin-top: 20px;
}

.mensagem {
  font-size: 1em;
  margin-top: 40px;
}

.box {
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  display: inline-block;
  font-size: 4em;
  margin: 20px;
  padding: 10px;
}

.btn-jogar {
  padding: 8px 15px;
  border: 0;
  background: var(--primary-color);
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}
